.busabfahrtentabelle {
    padding: 1.2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Header */
.busabfahrtentabelle .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-bottom: -2.3rem;
}

.busabfahrtentabelle .line {
    font-weight: 700;
    color: #00bfa6;
}

.busabfahrtentabelle .direction {
    font-size: clamp(1rem, 1.6vw, 8rem);
    font-weight: 500;
    text-align: right;
}

/* Abfahrten */
.busabfahrtentabelle .abfahrten {
    font-size: 1rem;
    font-weight: 600;
    color: #aaa;
    margin-bottom: -1rem;
}

/* Zeitenliste */
.busabfahrtentabelle .from-to-times {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: clamp(1rem, 1.5vw, 1.8rem);
    flex: 2;
    overflow-y: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/* Einzelne Zeile */
.busabfahrtentabelle .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 0.3rem;
}

.busabfahrtentabelle .from-to {

}

.busabfahrtentabelle .times {
    background: #00bfa6;
    color: #111;
    display: inline-block;
    padding: 0.25rem 0.7rem;
    border-radius: 6px;
}
