
#buses {
    grid-area: buses;
    display: grid;

    grid-template-columns: subgrid;
    grid-auto-rows: auto;

    font-size: 1.5em;

    padding: 0;
}

.stop {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
        "stop  stop  stop"
        "cols  cols  cols"
        "table table table";

    align-content: start;

    grid-gap: var(--spacing-small);
    padding: var(--spacing-medium);
}

.stop:not(:last-child) {
    border-bottom: var(--border);
}

.stop .header {
    grid-area: stop;
}

.column-headers {
    grid-area: cols;

    display: grid;

    grid-template-columns: subgrid;

    grid-template-areas:
        "line  dir   arr";

    padding: var(--spacing-small);
}

.stop .column.line { grid-area: line; }
.stop .column.dir { grid-area: dir; }
.stop .column.arr { grid-area: arr; }

.stop .column {
    font-weight: bold;
    color: var(--foreground-secondary);
}

.stop .from-to-times {
    grid-area: table;

    display: grid;

    grid-template-columns: subgrid;
    grid-auto-rows: 1fr;

    grid-gap: var(--spacing-small);
    padding: var(--spacing-small);
}

.stop .from-to-times .line {
    grid-column: 1;
    font-weight: bold;
}
.stop .from-to-times .from-to { grid-column: 2; }
.stop .from-to-times .times {
    grid-column: 3;
    text-align: end;
}
.stop .from-to-times :is(.line, .from-to, .times) {
    font-size: 0.9em;
}