.main-forecast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.forecast-header {
    text-align: center;
    padding-top: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.forecast-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    padding: 1rem 0;
    gap: 1rem;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-day img{
    width: 100px;
    height: 100px;
}