.main-forecast{
    background: linear-gradient(145deg, #1f1f1f, #292929);
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.forecast-header {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.forecast-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    padding: 1rem 0;
    gap: 1rem;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255,255,255,0.9);
    font-weight: 500;
    transition: transform 0.2s ease, color 0.2s ease;
}
.forecast-day img{
    width: 100px;
    height: 100px;
}

.forecast-temp {
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.8;
}