#forecast {
    grid-area: forecast;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas:
        "header"
        "forecast";
}

.forecast-header {
    grid-area: header;

    text-align: center;
    width: 100%;
}

#forecast-days {
    display: flex;

    flex-direction: row;

    justify-content: space-evenly;
    align-content: center;

    flex-wrap: nowrap;

    gap: var(--spacing-medium);
    /*padding: var(--spacing-medium);*/
}


.forecast-day {
    flex: 1;

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.forecast-day-label {
    color: var(--foreground-secondary);
}

.forecast-day .temperature {
    font-size: 13pt;
}