/*Main Grid*/
.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-gap: 25px;
    padding: 0 25px 25px 25px;
    /*margin: -1rem auto;!**!*/
}

.main-header {
    grid-area: 1 / 1 / 2 / 3;
}

.main-weather {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
        "city city"
        "icon icon"
        "temperature temperature"
        "humidity windspeed";

    align-items: center;
    justify-content: center;
    justify-items: center;
}

.main-weather .city { grid-area: city; }
.main-weather .temperature { grid-area: temperature; }
.main-weather .icon { grid-area: icon; }
.main-weather .humidity { grid-area: humidity; }
.main-weather .windspeed { grid-area: windspeed; }

.main-forecast {
    grid-area: 3 / 1 / 4 / 2;
}

#main-busstops {
    grid-column: 2;
    grid-row: 2 / 3;
    display: grid;
    grid-auto-rows: 1fr;
     align-items: center;
}

/*
.main-weilerhalde {
    grid-area: 2 / 2 / 4 / 3;
    max-height: 100px;
}

.main-hagellocherweg {
    grid-area: 3 / 2 / 4 / 3;
}
*/

/*------------------------------------------------------*/

/*Header Grid*/
.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.main-logo {
    grid-area: 1 / 1 / 2 / 2;
}

.main-time {
    grid-area: 1 / 2 / 2 / 3;
}

/*------------------------------------------------------*/
