.main-header{
    vertical-align: middle;
    align-items: center;
    justify-items: center;

    font-size: 72pt;
}

.header-logo {
    display: flex;
    justify-content: center;
}

.header-time {
    justify-self: center;
    align-self: center;
    font-size: 1em;

}

.header-logo img {
    height: 1.5em;
}