#header {
    grid-area: header;

    display: grid;

    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    grid-template-areas:
        "logo time time time time";

    align-items: center;
    align-content: center;

    font-size: 72pt;
}

#logo {
    grid-area: logo;

    display: flex;
    justify-content: center;

    max-height: 2em;
}

#time {
    grid-area: time;

    justify-self: center;
    align-self: center;

    font-size: 1em;
    font-variant-numeric: tabular-nums;

    margin: 0;
}