@import url('./theme.css');
@import url('./generic.css');
@import url('./header.css');
@import url('./weather.css');
@import url('./forecast.css');
@import url('./busplan.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root, body, #root {
    margin: 0;
    padding: 0;

    color-scheme: light dark;

    font-family: 'Montserrat', sans-serif;
    color: var(--foreground-primary);
    background: var(--background-primary);
}

:root {
    line-height: 1;
    font-weight: 400;
}

:root,  body, #root, #main-content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#main-content {
    display: grid;

    grid-template-columns: repeat(2, 1fr) repeat(3, 1fr);
    grid-auto-rows: auto;

    grid-gap: var(--spacing-medium);

    grid-template-areas:
        "header   header   header  header   header"
        "weather  weather  buses   buses    buses"
        "weather  weather  buses   buses    buses"
        "forecast forecast buses   buses    buses"
        "forecast forecast buses   buses    buses";

    padding: var(--spacing-medium);
}

#credits {
    grid-area: credits;

    display: flex;
    align-items: center;
}
