@import url('./theme.css');
@import url('./grid-config.css');
@import url('./header.css');
@import url('./weather.css');
@import url('./forecast.css');
@import url('./busplan.css');


:root, body, #root {
    margin: 0;
    padding: 0;

    color-scheme: light dark;

    font-family: 'Open Sans', sans-serif;
    color: var(--foreground-primary);
    background: var(--background-primary);

}

:root {
    line-height: 1;
    font-weight: 400;
}

:root,  body, #root, .main-content {
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.card {
    border: 1px solid #454545;
    backdrop-filter: blur(5px) brightness(85%);

    background: linear-gradient(145deg, #1f1f1f, #292929);
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
