:root {
    --background-primary: rgba(43, 40, 40, 0.53);
    --foreground-primary: #fff;
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --background-primary: rgb(255, 255, 255);
        --foreground-primary: rgba(0, 0, 0, 0.53);
    }
}