.weather-container {
}

.weather-today {
    grid-template-columns: 0fr 1fr 0fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 4px;
    grid-row-gap: 6px;
}

.city {
    text-align: center;
    margin-bottom: -1em;
}

.weather-icon {
    width: 14rem;
    height: 14rem;
    object-fit: contain;
    margin: -1rem auto;
}

.temperature {
    text-align: center;
    margin: -1rem auto;
}

.weather-details-today {
    grid-area: 4 / 2 / 5 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1rem;
}
.details-humidity-name{
    grid-area: 1 / 2 / 3 / 4;
    text-align: center;
    margin: -1rem auto;
    max-height: 25px;
}
.details-humidity-data{
    grid-area: 1 / 2 / 3 / 4;
    text-align: center;
    margin: -1rem;
}
.details-windspeed-name{
    grid-area: 1 / 2 / 3 / 4;
    text-align: center;
    margin: -1rem auto;
    max-height: 25px;
}
.details-windspeed-data{
    grid-area: 1 / 2 / 3 / 4;
    text-align: center;
    margin: -1rem;
}


