#weather {
    grid-area: weather;

    display: grid;

    grid-template-columns: subgrid;
    grid-template-rows: repeat(5, auto);

    grid-template-areas:
        "city     city"
        "icon     icon"
        "temp     temp"
        "humidity windspeed"
        "humidity windspeed";

    align-items: center;
    justify-items: center;
    /*grid-gap: var(--spacing-small);*/

    box-sizing: border-box;

    text-align: center;
}

#weather .city { grid-area: city; }
#weather .temperature { grid-area: temp; }
#weather .icon { grid-area: icon; }
#weather .humidity { grid-area: humidity; }
#weather .windspeed { grid-area: windspeed; }

.stat {
    display: grid;

    grid-template-rows: subgrid;
    grid-template-columns: subgrid;

    align-content: center;
    align-items: center;

    grid-template-areas:
        "value"
        "label"
}

.temperature {
    font-size: 65pt;
    font-weight: bold;
    margin-block: 0.25em;
}

.stat h2 {
    grid-area: label;

    color: var(--foreground-secondary);
    font-weight: 500;
    font-size: 15pt;
}
.stat span {
    grid-area: value;

    font-size: 32pt;
    font-weight: bold;
}